---
const {
  modifiedTimeMs,
  isExecuting,
  options,
  library,
  styleFiles,
  scriptFiles,
  indexFragment,
  appLocation,
} = Astro.props;

import MetaData from "./lib/MetaData";
import ExampleStyle from "./lib/ExampleStyle";
import Styles from "./lib/Styles";
import Scripts from "./lib/Scripts";
import { getChartScriptPath, getGridScriptPath } from "../../utils/pages";

import { getIsDev } from "../../utils/pages";

const isDev = getIsDev();

const getCacheBustingUrl = (url: string, timestamp: string) =>
  `${url}?t=${timestamp}`;

const chartScriptPath = getChartScriptPath(options.enterprise);
const isCharts = library === "charts";

const gridScriptPath = getGridScriptPath(options.enterprise);
const isGrid = library === "grid";
---

<html lang="en">
  <head>
    <MetaData
      isDev={isDev}
      title="JavaScript example"
      modifiedTimeMs={modifiedTimeMs}
      isExecuting={isExecuting}
      options={options}
    />
    <ExampleStyle />
    <Styles
      baseUrl={appLocation}
      files={isDev && styleFiles
        ? styleFiles
            .filter(
              (file: string) =>
                !file.includes("style.css") && !file.includes("styles.css")
            )
            .map((file: string) => getCacheBustingUrl(file, modifiedTimeMs))
        : []}
    />
  </head>
  <body>
    <Fragment set:html={indexFragment} />

    <script
      is:inline
      define:vars={{
        appLocation,
      }}
    >
      window.__basePath = appLocation;
    </script>
    {isCharts && chartScriptPath ? <script src={chartScriptPath} /> : ""}
    {isGrid && gridScriptPath ? <script src={gridScriptPath} /> : ""}
    <Scripts baseUrl={appLocation} files={scriptFiles} />
    <Styles
      baseUrl={appLocation}
      files={styleFiles
        ? styleFiles.filter(
            (file: string) =>
              file.includes("style.css") || file.includes("styles.css")
          )
        : []}
    />
  </body>
</html>
